[submodule "Tools/homebrew"]
	path = Tools/homebrew
	url = git://github.com/mxcl/homebrew.git
[submodule "Tools/mogenerator"]
	path = Tools/mogenerator
	url = git://github.com/rentzsch/mogenerator.git
[submodule "Experiments/prosilicaAlternatingExposureSketch"]
	path = Experiments/prosilicaAlternatingExposureSketch
	url = git@github.com:olekristensen/prosilicaAlternatingExposureSketch.git
